<?xml version="1.0" encoding="utf-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="./bootstrap.php"
>
    <filter>
        <whitelist>
            <directory>./vendor/squizlabs/php_codesniffer/src/Standards/SymfonyCustom</directory>
        </whitelist>
    </filter>
</phpunit>
